.block {
  height: 50px;
  width: 40px;
  box-sizing: border-box;
  position: absolute;
}

.selected {
  box-shadow: 0px 0px 10px 0px white;
  z-index: 1;
}

.pin {
  height: 10px;
  width: 10px;
  background-color: black;
  box-shadow: 0px 0px 1px 1px white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
